Jose vidal <vidal@sc.edu>
Jose vidal <vidal@sc.edu> Mebeck19 <melarabr@email.sc.edu>
Jose vidal <vidal@sc.edu> South Carolina Capstone Project <null>
Jose vidal <vidal@sc.edu> Jose M Vidal <jmvidal@gmail.com>
Jose vidal <vidal@sc.edu> Jose M Vidal <jmvidal@gmail.com>
Jose vidal <vidal@sc.edu> USC Test <usccsetest@gmail.com>
Jose vidal <vidal@sc.edu> Robot <jmvidal+robot@gmail.com>
Jose vidal <vidal@sc.edu> Robot Vidal <jmvidal+robot@gmail.com>

Robot vidal <robot@email.sc.edu>
USC Test <usccsetest@gmail.com>

